# FORGE CONFIG (DO NOT REMOVE!)
include forge-conf/3264841/before/*;
include forge-conf/3264841/sprocket.jerome-arfouche.ca/before/*;

server {
    http2 on;
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name sprocket.jerome-arfouche.ca;
    server_tokens off;
    root /home/forge/sprocket.jerome-arfouche.ca/current/.output/public;

    # FORGE SSL (DO NOT REMOVE!)
    ssl_certificate /etc/nginx/ssl/domains/1764571/3562617/server.crt;
    ssl_certificate_key /etc/nginx/ssl/domains/1764571/3562617/server.key;

    include forge-conf/3264841/site.conf;
}

# FORGE CONFIG (DO NOT REMOVE!)
include forge-conf/3264841/after/*;
include forge-conf/3264841/sprocket.jerome-arfouche.ca/after/*;
