[program:daemon-912439]
directory=/home/forge/sprocket.jerome-arfouche.ca/current/.output/
command=bash -c 'set -a; source /home/forge/sprocket.jerome-arfouche.ca/.env; set +a; exec node server/index.mjs'
process_name=%(program_name)s_%(process_num)02d
autostart=true
autorestart=true
user=forge
numprocs=1
redirect_stderr=true
stdout_logfile=/home/forge/.forge/daemon-912439.log
stdout_logfile_maxbytes=5MB
stdout_logfile_backups=3
stopwaitsecs=15
stopasgroup=true
killasgroup=true